body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#quiz {
    margin-top: 20px;
}

button.choice {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    background-color: #008CBA; /* Mavi renkte şıklar */
    color: white;
    border: none;
    cursor: pointer;
}

button.choice.correct {
    background-color: #4CAF50; /* Yeşil */
}

button.choice.incorrect {
    background-color: #f44336; /* Kırmızı */
}

button.choice:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
